<h2 class="text-center mt-5 text-3xl font-semibold tracking-wide">
  {{datosHilo.nombre}}
</h2>


<ul class="p-10">
  <app-comentario
  *ngFor="let post of contenido"
  [creacion]="post.comentario.comentario.created_at"
  [contenido]="post"
  >

  </app-comentario>
</ul>

<div
class="fixed bottom-20 right-20 w-14 h-14 bg-slate-300 rounded-full flex justify-center items-center cursor-pointer"
(click)="mostrarRedactor()"
>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
  </svg>

</div>

<app-redactar
(cerrar)="cerrarRedaccion($event)"
*ngIf="redactar">
</app-redactar>


<app-redactar
(cerrarRespuesta)="mostrarResponder($event)"
(cerrar)="cerrarRedaccion($event)"


*ngIf="responder"

>
</app-redactar>
