<main class="flex flex-col h-screen ">
  <header class="bg-sky-500 shadow-lg shadow-sky-500/50 flex p-4 items-center justify-between">



    <h1 class="text-4xl sm:text-5xl font-bold  sm:ml-5 cursor-pointer" routerLink="/">
      ForoDAW
    </h1>

    <section class="flex">
      <button class="rounded-full ring-offset-2 ring-4 p-2 mr-3 sm:mr-5 text-white bg-sky-600 hover:bg-sky-700 ease-in duration-300" routerLink="/auth/logup">
        Registrarse
      </button>
      <button class="rounded-full ring-offset-2 ring-4 p-2 mr-3 sm:mr-5 bg-lime-400 hover:bg-lime-500 ease-in duration-300" routerLink="/auth/login">
        Entrar
      </button>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 sm:w-14 sm:h-14 cursor-pointer">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
      </svg>


    </section>


  </header>

  <nav>



  </nav>

  <router-outlet></router-outlet>


  <footer class="mt-auto">
    <ul class="flex flex-col sm:flex-row  justify-around h-32 bg-sky-500 items-center" >
      <li>
        FORODAW
      </li>
      <li>
        CIFP CAMINO DE LA MIRANDA
      </li>
      <li>
        José Luis Marcos
      </li>
    </ul>
  </footer>
</main>




