<div
class="fixed w-full h-96 bg-slate-400 bottom-0 flex">



<div class="p-2 w-fit m-auto">
  <h2 class="mt-2 ml-5">Escribe tu mensaje.</h2>
<form>
  <textarea name="" id="" cols="80" rows="5"
  class="m-5 p-5 bg-slate-200"
  ></textarea>
  <button type="submit" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 block ml-5">Enviar</button>
</form>
</div>

<div
class="
relative
m-5
ml-auto
"
(click)="cerrarVentana()"
>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 cursor-pointer">
    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 5.25l-7.5 7.5-7.5-7.5m15 6l-7.5 7.5-7.5-7.5" />
  </svg>

</div>

</div>
