<li  class="flex flex-col p-4 mt-5 bg-sky-100 justify-between rounded-lg" >
  <article flex flex-row>
    <section>
      <h2 class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">{{this.contenido.comentario.usuario[0].nick}}</h2>
    </section>
    <section>
      <p>
        {{contenido.comentario.comentario.contenido}}
      </p>
    </section>
    <section class="flex">
      <span class="mt-auto ml-auto ">{{creacion}}</span>
    </section>
  </article>
  <ul>
    <app-respuesta
    *ngFor="let datosRespuesta of contenido.respuestas"
    [datos]="datosRespuesta"
    ></app-respuesta>
  </ul>
</li>
