

<article class="p-12">

<h2 class="text-center text-4xl">
  ¡Bienvenido a ForoDAW!
</h2>
<p class="text-center text-2xl">
  Resuelve tus dudas de programación, ayuda a otras personas, o simplemente debate con los demás.
</p>

<section>
  <section class="w-3/4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia quo officia, ab modi deleniti maxime animi obcaecati tempore, cumque, sunt saepe facere ratione dicta. Consequuntur voluptatum quo iste dolore praesentium.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia quo officia, ab modi deleniti maxime animi obcaecati tempore, cumque, sunt saepe facere ratione dicta. Consequuntur voluptatum quo iste dolore praesentium.</p>
    </section>

    <section>
      <app-section-nav
      [elementos]="subforos"
      tipo="Subforos"
      ></app-section-nav>

    </section>
</section>



</article>
